* {
  font-family: sans-serif;
}
.page-wrap {
	position:relative;
	padding-top:200px;
	padding: 200px 10% 0 10%;
}
div.cover{
  filter: blur(5px) grayscale(80%);
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  position: fixed;
  background-image: url(bibba.png);
  transition-duration: 20s;
}

div.cover:hover {
	background: transparent;
	opacity: 0.2%;
	filter: none;
	width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

header {
	margin: 0;
	padding: 0;
	background: #6290C3;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 99%;
	text-align: center;
  border-style: outset;
  border-width: 10px;
  border-color: #AED1E6;
}

body {
	background: #342A21;
}

.button {
	width : 46.5%;
	display: inline-block;
	text-align: left;
}

.heading {
	width: 52.5%;
	text-align: left;
	display: inline-block;
}

.main {
	background: #AED1E6;
	margin: 0;
 	 padding: 100px 0 5px 0;
 	 z-index: 5;
 	 height: 70%;
	width: 100%;
 	 display: inline-block;
 	 text-align: center;
}

.main object {
    width: 80%;
}

footer {
	background: #8EDCE6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
  text-align: center;
  margin: 0;
  padding: 2.5%;
  z-index: 2s;
  display:block;
}

/* this is for the sidebar dont mess with it! */

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 999s; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
